<%- include('../partials/admin_partials/admin_header.ejs') -%>

<%- include('../partials/admin_partials/admin-sidebar.ejs') -%>

<div class="main">

    <section class="title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>EDIT PROJECT</h1>
                </div>
            </div>
        </div>
    </section>
    
</div>

<%- include('../partials/admin_partials/admin_footer.ejs') -%>