<%- include('../partials/admin_partials/admin_header.ejs') -%>

<%- include('../partials/admin_partials/admin-sidebar.ejs') -%>

<div class="main">

    <section class="title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>PORTFOLIO</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="projects">

        <div class="container">
            <a href="/admin/portfolio/add">
                <i class="fas fa-plus-circle" style="color: green;"></i>
                Add project
            </a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: green;"></i>
                            </th>
                            <td>Site de thé</td>
                            <td>
                                <a href="/admin/portfolio/edit">
                                    <i class="fas fa-edit"></i>                                
                                </a>
                            </td>
                            <td>
                                <i class="fas fa-trash" style="color: red;"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: green;"></i>
                            </th>
                            <td></td>
                            <td>
                                <i class="fas fa-edit"></i>
                            </td>
                            <td>
                                <i class="fas fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: red;"></i>
                            </th>
                            <td></td>
                            <td>
                                <i class="fas fa-edit"></i>
                            </td>
                            <td>
                                <i class="fas fa-trash"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </section>

</div>

<%- include('../partials/admin_partials/admin_footer.ejs') -%>