<%- include('../partials/admin_partials/admin_header.ejs') -%>

<%- include('../partials/admin_partials/admin-sidebar.ejs') -%>

<div class="main">

    <h1>ABOUT</h1>

</div>

<%- include('../partials/admin_partials/admin_footer.ejs') -%>