<%- include('../partials/admin_partials/admin_header.ejs') -%>

<%- include('../partials/admin_partials/admin-sidebar.ejs') -%>

<div class="main">

    <section class="title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>CATEGORIES</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container categories">
        <div class="row">
            <div class="col-md-6 projects-categories">

                <div class="category-title">Project Categories</div>

                <div class="container">
                    <a href="/admin/categories/add_project_category">
                        <i class="fas fa-plus-circle" style="color: green;"></i>
                        Add project category
                    </a>
                </div>

                <div class="category-table">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Name</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: green;"></i>
                            </th>
                            <td>Site Web</td>
                            <td>
                                <a href="/admin/categories/edit_project_category">
                                    <i class="fas fa-edit"></i>                                
                                </a>
                            </td>
                            <td>
                                <i class="fas fa-trash" style="color: red;"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: green;"></i>
                            </th>
                            <td>Application Mobile</td>
                            <td>
                                <i class="fas fa-edit"></i>
                            </td>
                            <td>
                                <i class="fas fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: red;"></i>
                            </th>
                            <td>Application Desktop</td>
                            <td>
                                <i class="fas fa-edit"></i>
                            </td>
                            <td>
                                <i class="fas fa-trash"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="col-md-6 skills-categories">

                <div class="category-title">Skills Categories</div>

                <div class="container">
                    <a href="/admin/categories/add_skill_category">
                        <i class="fas fa-plus-circle" style="color: green;"></i>
                        Add skill category
                    </a>
                </div>

                <div class="category-table">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Name</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: green;"></i>
                            </th>
                            <td>Front-End</td>
                            <td>
                                <a href="/admin/categories/edit_skill_category">
                                    <i class="fas fa-edit"></i>                                
                                </a>
                            </td>
                            <td>
                                <i class="fas fa-trash" style="color: red;"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: green;"></i>
                            </th>
                            <td>Back-End</td>
                            <td>
                                <i class="fas fa-edit"></i>
                            </td>
                            <td>
                                <i class="fas fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: red;"></i>
                            </th>
                            <td>Database</td>
                            <td>
                                <i class="fas fa-edit"></i>
                            </td>
                            <td>
                                <i class="fas fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-circle" style="color: red;"></i>
                            </th>
                            <td>DevOps</td>
                            <td>
                                <i class="fas fa-edit"></i>
                            </td>
                            <td>
                                <i class="fas fa-trash"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>

</div>

<%- include('../partials/admin_partials/admin_footer.ejs') -%>