<div class="sidenav">
    <a href="/">
        <i class="fas fa-spider"></i>
    </a>
    <a href="/admin">Home</a>
    <a href="/admin/about">About</a>
    <a href="/admin/portfolio">Portfolio</a>
    <a href="/admin/skills">Skills</a>
    <a href="/admin/categories">Categories</a>
</div>