<%- include('../partials/users_partials/users_header.ejs') -%>

<%- include('../partials/users_partials/users_navbar.ejs') -%>

<section class="eye-catcher">
    <ul class="layer" data-speed="2">
        <li>Hey! Moi c'est Fabien.</li>
        <li>Développeur Web Junior</li>
        <li>Créateur de sites Web interactifs</li>
        <li>Cross-plateforme</li>
    </ul>
    <img src="/images/hypercube.png" class="layer" data-speed="-5" style="width: 250px; height: 250px;" alt="hypercube">
</section>



<%- include('../partials/users_partials/users_footer.ejs') -%>