<%- include('../partials/users_partials/users_header.ejs') -%>

<%- include('../partials/users_partials/users_navbar.ejs') -%>

<h1>Home Page</h1>

<%- include('../partials/users_partials/users_footer.ejs') -%>